Votre prénom c’est François, c’est juste ?
Il est bon ! C’est un champion du monde !
Il pourrait me faire l’historique de la louche à travers les âges ?
Ne m’invitez jamais à dîner, j’aurai toujours un doute.
Il essaie de faire de l’humour ! Ecoutez ça, c’est pathétique !
Paysan qui attaque un ennemi
Vous n'avez personne d'autre ?
Si vous le voulez vraiment...
Je peux essayer...
Ca y est, je suis mort !
Sortez couverts !
Avant l’heure c’est pas l’heure, après l’heure c’est plus l’heure !
Engagez-vous, rengagez-vous qu’il disait Lothar !
Ce n’est qu’une égratignure !
Eh ! Dans ce monde y a deux types d’hommes : ceux qui sont armés et ceux qui creusent.
Toi tu creuses !
Peu importe où ? Quand ? et comment ? Mais quelqu’un doit payer !
Adrienne !!!! (Rocky)
Tu réfléchiras avant de tout engluer un mec qui a un positionneur désintégrant ! Hein ?
Raccourci ton rayon !
Il faut pas croiser les effluves, c’est mal !
Partenaire particulier cherche partenaire particulière
Je suis l’homme qui tombe à pic...
Par le pouvoir du crâne ancestral.
Ils sont fou ces romains.
Les chaussettes de l’archiduchesse sont elles sèches, archi-sèches ?
Je n’ai pas dis NI !
Un chasseur sachant chasser sans son chien est un bon chasseur.
Y a pas 2 fêlés dans Warcraft 3 !
On se lève tous pour la lumière
Quand 900 ans comme moi tu auras, moins en forme tu seras !
Au secours il y a un pec qui me menace, il a un gland dans la main.
Mais moi les dingues je les soignes !
Au 4 coins de Paris on va le retrouver éparpillé par petits bouts façon puzzle.
Crois-tu qu’on vive éternellement ?
Plutôt embrasser un wookie.
Parce que je le vaux bien !
A l’heure du choix, chacun est libre.
Hi hi ... il engage des nains maintenant dans les commandos ?
Vous êtes venu dans cette casserole ? Vous êtes plus courageux que je ne le pensais !
Rogue leader au rapport.
Restez en ligne.
Je ne peux pas ça bouge trop !
Il est dans la ventilation.
Si il peut saigner on peut le tuer !
Je parle d’une certaine spiritualité : elle est faite de oui, de non !
Y a-t’il un pilote dans l’avion ? (Titre d'un film)
Ils ne sont pas à l’attention de savoir qu’ils existent.
"C’est toi et moi mon gars !", "Une belle synergie".
"Moi c’est dynamite", "Moi c’est TNT".
"Nous devons vaincre les nains !!!", "Eh ! c’est nous les nains !", "oh..."
J’ai 8 secondes pour vous dire que Wacraft 3, c’est de la dynamite !
"Et c’est comme ça qu’on fait les bébés nains", "ah..."
Ca c’est n’importe quoi, mais fort.
"Je suis l’agent spécial Johnson et voici l’agent Johnson", "Aucune parenté".
"A 3 et on y va !", "Où à 3 on y va ?"
Servi chaud ! *Sbam*
Boire ou conduire ? Il faut choisir !
C’est pas la taille qui compte : c’est le tranchant !
Un petit clou ?
Que la force soit avec toi Luke !
Un cavalier qui surgit hors de la nuit, part à l’aventure... au galop !!!
La seule chance que l’on a de gagner la guerre, c’est qu'en face ils soient aussi cons qu’ici !
Vous avez lu Clausewitz ?
Et Sun Tsu vous l’avez lu ?
Magie, magie, et vos idées n’ont pas de génie
Un pastis sinon rien !
Tavernier !! A boire et à manger pour mes amis et pour moi !
Qui est gros ?
Petit mais costaud
On ne pourrait pas en discuter autour d’une chopine ?
Un tonneau d’hydromel ça use le gosier !
Du rhum, des femmes et de la bière nom de Dieu !!!!
Je sers la foi !
Je suis le bouclier des croyants.
Bas les pattes, j’ai fait voeux de chasteté.
Oui Jean-Pierre... c'est mon dernier mot.
Je vais faire appel au public.
Le coté obscur n’est pas le plus fort non...plus rapide, plus facile, plus séduisant !
Il y a un grand trouble dans les courants magique
Secouez-moi, secouez-moi, sinon la pulpe reste en bas
Je suis trop vieux pour tout ça.
Mon cousin Brann est un grand explorateur.
Mon oncle Balin est le roi des anneaux.
Moi je mets des baffes.
J'aurais dû écouter mon père et devenir paysan.
Danger permanent, solde de misère.
Pose tes galons qu'on s'explique entre hommes